[submodule "apt"]
	path = apt
	url = https://github.com/puppetlabs/puppetlabs-apt.git
[submodule "concat"]
	path = concat
	url = https://github.com/puppetlabs/puppetlabs-concat.git
[submodule "rabbitmq"]
	path = rabbitmq
	url = https://github.com/puppetlabs/puppetlabs-rabbitmq.git
[submodule "redis"]
	path = redis
	url = https://github.com/arioch/puppet-redis.git
[submodule "stdlib"]
	path = stdlib
	url = https://github.com/puppetlabs/puppetlabs-stdlib.git
[submodule "supervisor"]
	path = supervisor
	url = https://github.com/desertkun/puppet-supervisor.git
[submodule "python"]
	path = python
	url = https://github.com/desertkun/puppet-python.git
[submodule "vcsrepo"]
	path = vcsrepo
	url = https://github.com/puppetlabs/puppetlabs-vcsrepo.git
[submodule "git"]
	path = git
	url = https://github.com/puppetlabs/puppetlabs-git.git

[submodule "hash_resources"]
	path = hash_resources
	url = https://github.com/stbenjam/puppet-hash_resources.git
[submodule "augeasproviders_core"]
	path = augeasproviders_core
	url = https://github.com/hercules-team/augeasproviders_core.git
[submodule "augeasproviders_sysctl"]
	path = augeasproviders_sysctl
	url = https://github.com/hercules-team/augeasproviders_sysctl.git
[submodule "nginx"]
	path = nginx
	url = https://github.com/anthill-utils/puppet-nginx.git
[submodule "archive"]
	path = archive
	url = https://github.com/voxpupuli/puppet-archive.git
[submodule "translate"]
	path = translate
	url = https://github.com/puppetlabs/puppetlabs-translate.git
[submodule "staging"]
	path = staging
	url = https://github.com/voxpupuli/puppet-staging.git
[submodule "puppetdb"]
	path = puppetdb
	url = https://github.com/anthill-utils/puppetlabs-puppetdb.git
[submodule "inifile"]
	path = inifile
	url = https://github.com/puppetlabs/puppetlabs-inifile.git
[submodule "postgresql"]
	path = postgresql
	url = https://github.com/puppetlabs/puppetlabs-postgresql.git
[submodule "firewall"]
	path = firewall
	url = https://github.com/puppetlabs/puppetlabs-firewall.git
[submodule "ohmyzsh"]
	path = ohmyzsh
	url = https://github.com/acme/puppet-acme-oh-my-zsh
[submodule "ipcalc"]
	path = ipcalc
	url = https://github.com/inkblot/puppet-ipcalc.git
[submodule "name_service_lookups"]
	path = name_service_lookups
	url = https://github.com/wcooley/puppet-name_service_lookups.git
[submodule "openvpn"]
	path = openvpn
	url = https://github.com/anthill-utils/puppet-openvpn.git
[submodule "ulimit"]
	path = ulimit
	url = https://github.com/arioch/puppet-ulimit.git
[submodule "mysql"]
	path = mysql
	url = https://github.com/anthill-utils/puppetlabs-mysql.git
